*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat/Montserrat-Regular.ttf);
}
html,body{
    width: 100%;
    height: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
    position: relative;
}
.chat-oc{
    position: absolute;
    bottom: 80px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #181887;
    box-shadow: 0px 0 13px #2b2b2b;
 padding: 15px;
 
}
.chat-oc img{
    width: 100%;
    height: 100%;
}
.open{
    display: block;
    /* display: none; */
}
.close{
    display: none;
    /* display: block; */
}
#chat-wrap{
    width: 300px;
    /* border-top: 5px solid #181887; */
    /* border-bottom: 5px solid #181887; */
    height: auto;
    position: absolute;
    bottom: 150px;
right: 30px;
border-radius: 10px;
    box-shadow: 0 0 16px #18188757;
}
.head{
    width: 100%;
    height: 20px;
    background-color: #181887;
    border-radius: 10px 10px 0 0;
}
.footer{
    width: 100%;
    border-bottom: 8px solid #181887;
    border-radius: 0 0 10px 10px;
    min-height: 50px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
        padding: 7px 0;
}
.footer .text-div {
    display: flex;
    width: 95%;
    justify-content: space-between;
}
.footer .text-div input{
width: 85%;
    border: none;
    padding: 8px 14px;
    border-radius: 40px;
    outline: none;
}
.footer .send{
    width: 10%;
    display: flex;
    align-items: center;
    height: 32px;
    align-self: flex-end;
}
.footer .text-div img{
width: 80%;
}
.body{
    width: 100%;
    height: 400px;
    padding: 10px;
    overflow-y: auto;
    
}
.body::-webkit-scrollbar{
    width: 0px;
}
.i-message{
    width: 100%;
    display: flex;
    font-family: 'Montserrat';
    font-size: 14px;
    /* float: left; */
          display: flex;
    justify-content: flex-start;
        margin: 10px 0;

}
.i-message p{
       background-color: #e5e5e5;
    color: black;
    border-radius: 10px;
    padding: 10px;
    max-width: 65%;
}
.i-message img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.i-message p img{
    height: 8px;
    margin: 0;
    width: auto;
}
.o-message{
   width: 100%;
    display: flex;
    font-family: 'Montserrat';
    font-size: 14px;
    margin: 10px 0;
        display: flex;
    justify-content: flex-end;

}
.o-message p{
    background-color: #E5F0F8;
    color: black;
    border-radius: 10px;
    padding: 10px;
        max-width: 65%;
}

#chat-wrap[show]{
    display: block;
animation: showAnim 0.6s ease-in-out    ;
}
#chat-wrap[hidden]{
      
animation: removeAnim 1s ease-in-out;
  /* display: none; */
}

@keyframes showAnim{
    0%{
display: block!important;
opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes removeAnim{
    0%{

opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}





















.email-d{
    height: 400px;
    /* margin: 0 auto; */
    border-radius: 10px;
    display: flex;
    align-items: center;

    /* background-image: url('./chatBg.jfif');
    background-position: center;
    background-size: cover; */
}
.overlay{
    width: 100%;
    height: 400px;
    background-color: black;
    position: absolute;
}